.initial-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  pointer-events: none;
  background-color: var(--color-sweet-corn);
  display: flex;
  align-items: center;
  justify-content: center;

  .iris-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .iris {
    width: 200vw;
    height: 200vw;
    background: var(--color-toffee);
    border-radius: 50%;
    transform: scale(0.05);
  }
}
