@import 'src/app/assets/css/utils/utils.scss';

.character {
  width: 80%;
  height: auto;
  margin: 0 auto;
  max-width: toRem(300);
  aspect-ratio: 1 / 1;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }

  &__sunglasses {
    pointer-events: none;
    position: absolute;
    top: 14%;
    left: 28%;
    width: 43%;
    opacity: 0;
    transform: translateY(-20%);
    transition:
      transform 0.3s cubic-bezier(0.6, 1.15, 0.84, 1.28),
      opacity 0.3s ease;
  }
  &__hat {
    pointer-events: none;
    position: absolute;
    top: -35%;
    left: 7%;
    width: 83%;
    opacity: 0;
    transform: translateY(-20%);
    transition:
      transform 0.4s ease,
      opacity 0.3s ease;
  }

  &.knitting {
    .eyebrow {
      transition: transform 0.5s ease;
      animation: eybrowsRise 0.25s cubic-bezier(0.68, 0.92, 0.68, 1.03)
        alternate;
      animation-iteration-count: 4;
    }
  }
  &.gardening {
    .eye {
      transition: transform 0.5s ease;
      animation: bombasticSideEye 1.5s ease;
    }
  }
  &.cycling {
    .character__sunglasses {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &.travelling {
    .character__hat {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes eybrowsRise {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.15rem);
  }
}

@keyframes bombasticSideEye {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-1px);
  }
  66% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
