@import 'src/app/assets/css/utils/utils.scss';

.character {
  width: 80%;
  height: auto;
  margin: 0 auto;
  max-width: toRem(350);
  aspect-ratio: 1 / 1;

  svg {
    width: 100%;
    height: 100%;
  }
}
