@import 'src/app/assets/css/utils/utils.scss';

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  pointer-events: none;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  &__item {
    position: relative;
    pointer-events: all;
    cursor: pointer;
    min-width: toRem(16);
    min-height: toRem(18);

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 0.5rem);
      left: 0;
      width: toRem(12);
      height: toRem(12);
      border-radius: 50%;
      border: 2px solid var(--color-toffee);
      pointer-events: none;
      transition: background-color 0.3s cubic-bezier(0.28, 0.38, 0.57, 1);
    }

    &-link {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }

    &:hover,
    &--active {
      &:before {
        background-color: var(--color-toffee);
      }
    }

    &-name {
      display: inline-block;
      padding-left: 1.5rem;
      transition:
        transform 0.4s cubic-bezier(0.28, 0.38, 0.57, 1),
        opacity 0.4s cubic-bezier(0.28, 0.38, 0.57, 1);
    }

    &:not(:hover) {
      .nav__item-name {
        transform: translateX(-20%);
        opacity: 0;
      }
    }
  }
}
